body{
background-color: yellow;    
}
p1{
    color: brown;
}
p2{
    color:slategray;
}
p3{
    color: blue;
}
#camera{
    height: 300px;
    width: 350px;
    border: 5px magenta solid ;
}
#result{
    height: 300px;
    width: 350px;
    border: 5px orangered solid ;
}
#capture_img{
    background-color: aquamarine;
    color: darkblue;
}
#check_object{
    background-color: salmon;
    color: darkblue;
}
